@using Blog.Librerias.Entidades;
@model BEArticle

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Model.Titulo - Blog Site Created by Daniel Lazarte</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/clean-blog.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home">Navidad 2015, sin picarse, sin resentirse.</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home">Inicio</a>
                    </li>
                    <li>
                        <a href="/Article/Create">(+)Agregar</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('../../../Content/Static/image/@Model.imgArticle.Trim()')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading">
                                <h1>@Model.Titulo</h1>
                                <h2 class="subheading">@Model.SubTitulo</h2>
                                <span class="meta">Posted by <a href="#">@Model.Creador</a> on @Model.Fecha.ToString("dddd") @Model.Fecha.ToString("dd") de @Model.Fecha.ToString("Y")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <article>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="content">
                            <p>@Model.Descripcion</p>
                            <p>@Html.Raw(HttpUtility.HtmlDecode(Model.Contenido))</p>
                        </div>
                    </div>
                </div>
            </article>
            <hr>
    
        <!-- Agregar Reaccciones -->
            <div id="ReactionCreate">
                <div class="container">
                    <div class="row">
                        <h3>Agregar Comentario</h3>
                    </div>

                    <div class="row">

                        
                            <div class="widget-area no-padding blank">
                                <div class="status-upload">
                                    <form>
                                        <textarea id="question" placeholder="Agrega un comentario a este post" name="question"></textarea>
                                        <ul>
                                            @*<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>*@
                                        </ul>
                                        @*<input value="Agregar" id="btnAjax" class="btn btn-success green derecha" readonly />*@
                                        <button id="btnAjax" class="btn btn-success green"><i class="fa fa-share"></i> Agregar</button>
                                    </form>
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <!--FIN  Agregar Reaccciones -->
            <hr>
            <!-- Reaccciones -->
                <div id="reactions">
                    Loading Reactions...
                    @using (Ajax.BeginForm("../Question/GetReactionsbyArticle", "Question", new { idArticle = @Model.idArticle }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "reactions", InsertionMode = InsertionMode.Replace }, new { id = "space_Questions" }))
                    {

                    }
                </div>
            
            <!-- Comentarios -->
            <!-- Reacciones -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <ul class="list-inline text-center">
                                <li>
                                    <a href="https://twitter.com/daniellazarte">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/ddaniellazarte">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/daniellazarte">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p class="copyright text-muted">Copyright &copy; Daniel Lazarte dlazarte on twitter</p>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="idArticle" id="idArticle" value="@Model.idArticle"/>
            </footer>
            
            <script src="~/javascript/jquery.min.js"></script>
            <script src="~/javascript/jquery.unobtrusive-ajax.min.js"></script>
            <script src="~/javascript/Reactions.js"></script>
            <script src="~/javascript/bootstrap.min.js"></script>
            <script src="~/javascript/clean-blog.js"></script>



</body>
</html>
